* {
  background-color: lightblue;

}

h1 { 
  color: white;
  text-align: center;

  font-family: arial;
  font-size: 30px;
}

h2 {
  color: white;
  text-align: left;

  font-family: arial;
  font-size: 20px;
}

p1 {
  color: navyblue ;
  text-align: center;

  font-family: arial;
  font-size: 10px;

}

table {
  text-align: right;
}

