* {
  background-color: white;

}

h1 { 
  color: black;
  text-align: center;

  font-family: serif;
  font-size: 45px;
}

h2 {
  color: black;
  text-align: left;

  font-family: serif;
  font-size: 35px;
}

p1 {
  color:  black ;
  text-align: center;
}

  font-family: serif;
  font-size: 20px;

}

